
/*----- GENERAL -----*/

     header, footer, section, article, nav, aside {
        display: block;
     }

     body {
        background: #ffffff;
        color: #222;
        font: 12px/20px Georgia, "Times New Roman", Times, serif;
        padding-top: 25px;
        text-align: center;
        width:500px;
        margin: 0 auto;
     }

     h1, h2, h3, hQ {
        font-family: Cufon;
     }

     h1 {
        font-size: 50px;
        line-height: 50px;
     }

     h2 {
        font-size: 31px;
        line-height: 37px; 
     }

     h3 {
        font-size: 21px;
        line-height: 27px; 
     }

     a:link, a:visited {
        color: #222222;
        font-weight: bold;
        text-decoration: none;
     }
     
     a:hover, a:active {
        text-decoration: underline;
     }

     hr{
        border:0 #ccc solid;
        border-top-width:1px;
        clear:both;
        height:0;
     }

     ol{list-style:decimal}

     ul{list-style:disc}

     li{margin-left:30px}

     p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:15px}

     #main {
        padding: 0px;
     }

/*----- MASTHEAD -----*/

     .noMeta > div {
        padding: 0px;
     }

     #masthead {
        margin-bottom: 0px;
     }

     #masthead h1 {
        margin-bottom: 0;
     }

     #masthead h1 a:link, #masthead h1 a:visited {
        text-transform: Uppercase;
        color: #222;
        text-decoration: none;
     }

     #masthead h1 a:active {
        outline: 0;
     }

     #masthead p {
        font-family: Georgia, serif;
        font-size: 20px;
        color: #fff;
        margin-bottom: 0;
     }

     #masthead a:link, #masthead a:visited {
        color: #fff;
     }

     #siteDescription{
        font-size: 13px;
        color: #222;
        text-transform: Uppercase;
        border-top: 1px solid #222;
        margin-top: 20px;
        margin-bottom: -5px;
        padding: 15px 0 0 0;
        font-family: Cufon;
     }

/*----- SEARCH FORM -----*/

     #frmSearch {
        padding-top: 20px; 
        display: none;
     }

     #txtSearch {
        background: url(http://static.tumblr.com/bpryy0m/6lRl6gmys/search.jpg) left no-repeat;
        width: 225px;
        padding: 2px 0 0 20px;
        font: 12px/12px Georgia, "Times New Roman", Times, serif;
        color: #222;
        border: 0px;
     }

/*----- MAIN HEADER NAV STRIP -----*/

     #mainNav {
        border-top: 1px solid #222;
        border-bottom: 2px solid #222;
        margin-top: 20px;
        padding: 15px;
        font-family: Cufon;
     }

     #mainNav ul {
        list-style: none;
        margin: 0;
        padding: 0;
     }

     #mainNav li {
        margin: 5px;
        display: inline;
        padding: 0;
     }

     #mainNav a:link, #mainNav a:visited {
        padding: 0;
        font-size: 14px;
        line-height: 14px;
        margin: 0 2px;
        text-decoration: none;
        color: #222;
        text-transform: Uppercase;
     }

     #mainNav a:hover, #mainNav a:active {
        outline: none;
        text-decoration: none;
        border-bottom: 1px solid #222;
     }

     #mainNav a.active {
        text-decoration: none;
        border-bottom: 1px solid #222;
     }

/*----- ARTICLE META INFO -----*/

     #designline {
        margin-top: 50px;
     }

     h5{
        position: relative;
        top: -35px;
        margin-bottom: 0px;
        font-family: Georgia, serif;
        font-size: 10px;
        color: #bca474;
        text-decoration: none;
        text-transform: Uppercase;
        font-weight: bold;
        border-bottom: 1px solid #bca474;
        background: #fff;
     }

     h5 a:link, .line a:visited{
        font-family: Georgia, serif;
        font-size: 10px;
        color: #bca474;
        text-decoration: none;
        text-transform: Uppercase;
        font-weight: bold;
     }

     h5 a:hover{
        text-decoration: underline;
     }

     h5 abbr{
        display: inline-block;
        position: relative;
        margin: 0 auto;
        padding: 0 8px;
        background: #fff;
        top: 10px;
     }

     h5.postDate a{
        color: #bca474;
     }

/*----- ARTICLE -----*/

     article {
        background: #fff;
        margin-bottom: 20px;
        text-align: left;
       position: relative;
      }

     article img {
        border: none;
        margin-bottom: 15px;
        max-width: 500px;
     }

     article p img {
        margin: 0;
     }
     article > div {
        padding: 0px;
        overflow: hidden;
     }
     article .searchPage {
        margin: 35px 0 0 0;
     }

     .searchPageText {
        margin: 0 0 30px 0;
     }

     article .meta a:link, article .meta a:visited {
        text-decoration: none;
     }

     article .meta a:hover, article .meta a:active {
        text-decoration: underline;
     }

     article h2 {
        text-align: center;
        color: #222222;
     }

     article h2 a:link, article h2 a:visited {
        text-transform: Uppercase;
        color: #222;
        text-decoration: none;
     }

     article h2 a:hover, article h2 a:active {
        text-decoration: none;
        border-bottom: 1px solid #222;
     }

     blockquote {
        border-left: 2px solid #bca474;
        margin-left: 0;
        padding-left: 1em;
     }

     #quoteSource{
        margin: 0 auto;
        text-align: left;
     }

     #quoteText h2 {
        text-align: left;
        color: #222222;
     }

     article .chat {
        list-style: none;
        padding: 0;
        margin: 0;
     }

     article .chat li {
        margin: 0 0 2px;
        padding: 2px 0 2px 0;
     }

     .photoCaption {
        text-align: center;
     }

/*----- AUDIO PLAYER -----*/

     .audio {
        height: 28px;
        width: 26px;
        overflow: hidden;
        margin: auto;
        padding-top: 7px;
     }

     .audioc {
        background-image:url('http://static.tumblr.com/f1whv92/9iCl6bfgp/audiocircle.png');
        background-repeat: no-repeat; 
        height: 41px;
        width: 41px;
     }

     .audioCaption {
        margin-top: 1px;
     }

     .audioleft {
        width: 41px;
        float: left;
      }

     .audioright {
        width: 444px;
        float: right;
      }

     .audioContainer {
        margin-top: 5px;
     }

     .audioClear {
        clear:both;
     }

/*----- ARTICLE NOTES -----*/

     .notes {
        border-top: 1px solid #bca474;
        list-style: none;
        padding: 20px 0 5px 0;
        margin: 30px 0 0 0;
     }
     .notes li {
        margin: 0;
     }

     .notes .avatar {
        margin: 0 5px 0 0;
        position: relative;
        top: 5px;
     }

     .notes blockquote {
        margin: 10px 0 0 35px;
        padding-left: 10px;
        border-left: 2px solid #222222;
     }

     .media {
        width: 500px;
        margin-bottom: 20px;
     }

/*----- PAGE NAVIGATION -----*/

     #pageNav {
        margin-top: 20px;
        border-top: 1px solid #222;
     }

     #pageNav ul {
        list-style: none;
        padding: 10px 15px;
        margin: 10px 0;
     }

     #pageNav li {
        margin: 0;
        display: inline;
     }

     #pageNav a:link, #pageNav a:visited {
        font: 11px Georgia, "Times New Roman", Times, serif;
        padding: 0;
        margin: 0 2px;
        background: #34hdf5;
        color: #222;
        text-decoration: none;
     }

     #pageNav a:hover, #pageNav a:active, #pageNav a.active:link, #pageNav a.active:visited {
        text-decoration: underline;
     }

     #pageNavOlder:after {
        content: " È";
        font-size: 10px;
     }

     #pageNavNewer:before {
        content: "Ç ";
     }

/*----- FOOTER META -----*/

     #sitemeta {
        border-top: 2px solid #222;
        color: #222;
        padding: 20px 0 32px 0;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 11px;
     }

     #sitemeta p {
        margin: 0;
     }

     #sitemeta a:link, #sitemeta a:visited {
        color: #222;
        font-weight: bold;
     }


